<html xmlns:th="https://www.thymeleaf.org/">

<head>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
</head>

<body>
	<!-- Container -->
	<div class="Container">
		<!-- Card -->
		<div class="card">
			<!-- Card Header -->
			<div class="card-header bg-info text-center">
				<h2 class="text-white">Order Method Data Page!</h2>
			</div>
			<!-- Card Body -->
			<div class="card-body">
				<!--Download Excel-->
				<a th:href="@{/order/excel}" class="btn btn-success">Download
					Excel</a> |
				<a th:href="@{/order/chart}" class="btn btn-success">View Chart</a>	
				<table class="table table-havor">
					<tr class="bg-warning text-dark">
						<th>Id</th>
						<th>Order Mode</th>
						<th>Order Code</th>
						<th>Order Type</th>
						<th>Order Accept</th>
						<th>Description</th>
						<th>Actions</th>
					</tr>

					<tr th:each="obj:${list}">
						<td th:text="${obj.id}"></td>
						<td th:text="${obj.orderMode}"></td>
						<td th:text="${obj.orderCode}"></td>
						<td th:text="${obj.orderType}"></td>
						<td th:text="${obj.orderAccept}"></td>
						<td th:text="${obj.orderDesc}"></td>

						<td><a th:href="@{/order/edit(id=${obj.id})}"
							class="btn btn-success">Edit</a> | <a
							th:href="@{/order/delete(id=${obj.id})}" class="btn btn-danger">Delete</a>

						</td>
					<tr>
				</table>
			</div>
			<!-- Card Footer -->
			<div class="card-footer text-center bg-primary"
				th:if="${message!=null}">
				<span th:text="${message}" class="text-white"></span>
			</div>
		</div>
	</div>

</body>

</html>