<html xmlns:th="https://www.thymeleaf.org/">
<head>
<title>Purchase Order Part</title>
</head>
<body>
	<div th:insert="fragments/commonUI :: userheader"></div>
	<div th:insert="fragments/commonUI :: usermenu"></div>
	<div th:insert="fragments/commonUI :: userfooter"></div>

	<!-- Container -->
	<div class="container">
		<!-- Card -->
		<div class="card">
			<!-- Card Header -->
			<div class="card-header bg-primary text-center text-white">
				<h2>Purchase Order Part</h2>
			</div>
			<!-- Card Body -->
			<div class="card-body">
				<table class="table table-hovar">
					<tr>
						<th class="bg-info text-white">Order Code</th>
						<th th:text="${purchaseOrder.orderCode}"></th>

						<th class="bg-info text-white">Order Status</th>
						<th th:text="${purchaseOrder.status}"></th>
					</tr>
				</table>

				<form
					th:if="${purchaseOrder.status == 'PICKING' || purchaseOrder.status == 'OPEN'}"
					th:action="@{/po/addPart}" method="POST">
					<div class="row">
						<div class="col-6">
							<label>Choose Part</label> <select name="part.id" id="partId"
								class="form-control">
								<option th:each="obj:${parts}" th:value="${obj.key}"
									th:text="${obj.value}"></option>
							</select>
						</div>
						<div class="col-3">
							<label>Quantity</label> <input type="number" name="qty" id="qty"
								class="form-control" required min="1" />
						</div>
						<div class="col-3">
							<input type="hidden" name="purchaseOrder.id" id="poId"
								th:value="${purchaseOrder.id}" />
							<button type="submit" class="btn btn-success">
								Add <i class="fa fa-plus-square" aria-hidden="true"></i>
							</button>
						</div>
					</div>
				</form>

				<table class="table table-hover">
					<tr>
						<th>Serial No</th>
						<th>Part</th>
						<th>Cost</th>
						<th>Quantity</th>
						<th th:if="${purchaseOrder.status == 'PICKING'}">Actions</th>
					</tr>
					<tr th:each="obj,i:${list}">
						<td th:text="${i.count}"></td>
						<td th:text="${obj.part.partCode}"></td>
						<td th:text="${obj.part.partBaseCost}"></td>
						<td><span th:text="${obj.qty}"></span> <a
							th:if="${purchaseOrder.status == 'PICKING'}"
							th:href="@{/po/increaseQty(purchaseOrderId=${purchaseOrder.id},DetailId=${obj.id})}"
							class="btn btn-success">+</a> <span
							th:if="${obj.qty>1 && (purchaseOrder.status == 'PICKING')}">
								<a
								th:href="@{/po/decreaseQty(purchaseOrderId=${purchaseOrder.id},DetailId=${obj.id})}"
								class="btn btn-danger">-</a>
						</span></td>
						<td><a th:if="${purchaseOrder.status == 'PICKING'}"
							class="btn btn-warning"
							th:href="@{/po/removePart(purchaseOrderId=${purchaseOrder.id},DetailId=${obj.id})}">Remove
								<i class="fa fa-minus-circle" aria-hidden="true"></i>
						</a></td>

					</tr>
				</table>
				<hr/>
				<div th:if="${purchaseOrder.status=='PICKING'}">
				<a th:href="@{/po/placeOrder(purchaseOrderId=${purchaseOrder.id})}" class="btn btn-primary">Place Order</a>
				</div>
			</div>
			<!-- Card Footer -->
			<!-- <div class="card-footer"></div> -->
		</div>
	</div>
</body>

</html>