<html xmlns:th="https://www.thymeleaf.org/">

<head>
<title>Shipment Type Edit Page</title>
</head>

<body>
	<div th:insert="fragments/commonUI :: userheader"></div>
	<div th:insert="fragments/commonUI :: usermenu"></div>
	<div th:insert="fragments/commonUI :: userfooter"></div>
	<!-- Container -->
	<div class="Container">
		<!-- Card -->
		<div class="card">
			<!-- Card Header -->
			<div class="card-header text-white bg-dark text-center">
				<h2>Shipment Type Edit Page</h2>
			</div>
			<!-- Card Body -->
			<div class="card-body">
				<form id="ShipmentTypeRegister" th:action="@{/st/update}"
					method="POST" th:object="${shipmentType}">
					<!-- Row#0 -->
					<div class="row">
						<div class="col-3">
							<label>Shipment Id</label>
						</div>
						<div class="col-5">
							<input type="text" th:field="*{shipId}" class="form-control"
								readonly />
						</div>

						<div class="col-4">
							<span id="shipIdError"></span>
						</div>
					</div>
					<!-- 1st Row -->
					<div class="row">
						<div class="col-3">
							<label>Shipment Mode</label>
						</div>

						<div class="col-5">
							<select name="shipMode" th:field="*{shipMode}"
								class="form-control">
								<option value="">-Select-</option>
								<option value="Air">Air</option>
								<option value="Ship">Ship</option>
								<option value="Truck">Truck</option>
								<option value="Train">Train</option>
							</select>
						</div>

						<div class="col-4">
							<span id="shipModeError"></span>
						</div>
					</div>
					<!-- 2nd Row -->
					<div class="row">
						<div class="col-3">
							<label>Shipment Code</label>
						</div>

						<div class="col-5">
							<input type="text" th:field="*{shipCode}" class="form-control" />
						</div>

						<div class="col-4">
							<span id="shipCodeError"></span>
						</div>
					</div>
					<!-- 3rd Row -->
					<div class="row">
						<div class="col-3">
							<label>Enable Shipment</label>
						</div>

						<div class="col-5">
							<input type="radio" th:field="*{enbleShip}" value="Yes" /> Yes <input
								type="radio" th:field="*{enbleShip}" value="No" /> No

						</div>

						<div class="col-4">
							<span id="enbleShipError"></span>
						</div>
					</div>
					<!-- 4th Row -->
					<div class="row">
						<div class="col-3">
							<label>Ship Grade</label>
						</div>

						<div class="col-5">
							<input type="radio" th:field="*{shipGrade}" value="A" /> A <input
								type="radio" th:field="*{shipGrade}" value="B" /> B <input
								type="radio" th:field="*{shipGrade}" value="C" /> C
						</div>

						<div class="col-4">
							<span id="shipGradeError"></span>
						</div>
					</div>
					<!-- 5th Row -->
					<div class="row">
						<div class="col-3">Description</div>

						<div class="col-5">
							<textarea th:field="*{shipDesc}" class="form-control"></textarea>
						</div>

						<div class="col-4">
							<span id="shipDescError"></span>
						</div>
					</div>
					
					<button type="submit" class="btn btn-success">
					Update Shipment <i class="fa fa-pencil" aria-hidden="true"></i>
					</button>

					<!-- <input type="submit" value="Update" class="btn btn-success" /> -->
				</form>
			</div>
			<!-- Card Footer -->

		</div>
	</div>
	<script type="text/javascript" th:src="@{/jquery/shipmentType.js}"></script>
</body>

</html>