<html xmlns:th="https://www.thymeleaf.org/">

<head>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
</head>

<body>
	<!-- Container -->
	<div class="Container">
		<!-- Card -->
		<div class="card">
			<!-- Card Header -->
			<div class="card-header bg-primary text-center">
				<h2 class="text-white">Shipment Type Data!</h2>
			</div>

			<!-- Card Body -->
			<div class="card-body">
				<a th:href="@{/st/excel}" class="btn btn-info">Download Excel</a> |
				<a th:href="@{/st/chart}" class="btn btn-info">View FreeChart</a>
				<table class="table table-havor">

					<tr class="bg-secondary text-white">
						<th>Ship Id</th>
						<th>Ship Mode</th>
						<th>Ship Code</th>
						<th>Enable Ship</th>
						<th>Ship Grade</th>
						<th>Ship Description</th>
						<th>Actions</th>
					</tr>

					<tr th:each="obj:${list}">
						<td th:text="${obj.shipId}"></td>
						<td th:text="${obj.shipMode}"></td>
						<td th:text="${obj.shipCode}"></td>
						<td th:text="${obj.enbleShip}"></td>
						<td th:text="${obj.shipGrade}"></td>
						<td th:text="${obj.shipDesc}"></td>
						<td><a th:href="@{/st/edit(id=${obj.shipId})}"
							class="btn btn-success">Edit</a> | <a
							th:href="@{/st/delete(id=${obj.shipId})}" class="btn btn-danger">Delete</a>

						</td>
					</tr>
				</table>
			</div>
			<!-- Card Footer -->
			<div class="card-footer bg-success text-center"
				th:if=${message!=null}>
				<span th:text=${message} class="text-white"></span>
			</div>
		</div>
	</div>
</body>

</html>