<html xmlns:th="https://www.thymeleaf.org/">

<head>
<title>Shipment Type Register Page</title>
</head>

<body>
	<div th:insert="fragments/commonUI :: userheader"></div>
	<div th:insert="fragments/commonUI :: usermenu"></div>
	<div th:insert="fragments/commonUI :: userfooter"></div>
	<!-- Container -->
	<div class="Container">
		<!-- Card -->
		<div class="card">
			<!-- Card Header -->
			<div class="card-header text-white bg-primary text-center">
				<h2>Shipment Type Register Page</h2>
			</div>
			<!-- Card Body -->
			<div class="card-body">
				<form id="ShipmentTypeRegister" th:action="@{/st/saveShipment}"
					method="POST">
					<!-- 1st Row -->
					<div class="row">
						<div class="col-3">
							<label>Shipment Mode</label>
						</div>

						<div class="col-5">
							<select name="shipMode" id="shipMode" class="form-control">
								<option value="">-Select-</option>
								<option value="Air">Air</option>
								<option value="Ship">Ship</option>
								<option value="Truck">Truck</option>
								<option value="Train">Train</option>
							</select>
						</div>

						<div class="col-4">
							<span id="shipModeError"></span>
						</div>
					</div>
					<!-- 2nd Row -->
					<div class="row">
						<div class="col-3">
							<label>Shipment Code</label>
						</div>

						<div class="col-5">
							<input type="text" name="shipCode" id="shipCode"
								class="form-control" />
						</div>

						<div class="col-4">
							<span id="shipCodeError"></span>
						</div>
					</div>
					<!-- 3rd Row -->
					<div class="row">
						<div class="col-3">
							<label>Enable Shipment</label>
						</div>

						<div class="col-5">
							<input type="radio" name="enbleShip" id="enbleShip1" value="Yes" />
							Yes <input type="radio" name="enbleShip" id="enbleShip2"
								value="No" /> No

						</div>

						<div class="col-4">
							<span id="enbleShipError"></span>
						</div>
					</div>
					<!-- 4th Row -->
					<div class="row">
						<div class="col-3">
							<label>Ship Grade</label>
						</div>

						<div class="col-5">
							<input type="radio" name="shipGrade" id="shipGrade1" value="A" />
							A <input type="radio" name="shipGrade" id="shipGrade2" value="B" />
							B <input type="radio" name="shipGrade" id="shipGrade3" value="C" />
							C
						</div>

						<div class="col-4">
							<span id="shipGradeError"></span>
						</div>
					</div>
					<!-- 5th Row -->
					<div class="row">
						<div class="col-3">Description</div>

						<div class="col-5">
							<textarea name="shipDesc" id="shipDesc" class="form-control"></textarea>
						</div>

						<div class="col-4">
							<span id="shipDescError"></span>
						</div>
					</div>
					<button type="submit" class="btn btn-success">
						Create Shipment <i class="fa fa-plus" aria-hidden="true"></i>
					</button>

					<!-- <input type="submit" value="Create" class="btn btn-success" /> -->
				</form>
			</div>
			<!-- Card Footer -->
			<div class="card-footer text-center bg-info" th:if="${message!=null}">
				<span class="text-white" th:text="${message}"></span>
			</div>
		</div>
	</div>
	<script type="text/javascript" th:src="@{/jquery/shipmentType.js}"></script>
</body>

</html>