<html xmlns:th="https://www.thymeleaf.org/">

<head>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
</head>

<body>
	<!-- Container -->
	<div class="Container">
		<!-- Card -->
		<div class="card">
			<!-- Card Header -->
			<div class="card-header bg-primary text-center">
				<h2 class="text-white">Shipment Type Chart Page</h2>
			</div>

			<!-- Card Body -->
			<div class="card-body">

				<img th:src="@{/shipmentTypeMode.jpg}" />

			</div>

		</div>
	</div>
</body>

</html>