<html xmlns:th="https://www.thymeleaf.org/">
<head>
<title>UOM Chart</title>
</head>

<body>
	<div th:insert="fragments/commonUI :: userheader"></div>
	<div th:insert="fragments/commonUI :: usermenu"></div>
	<div th:insert="fragments/commonUI :: userfooter"></div>
	<!-- container -->
	<div class="container">
		<!-- Card -->
		<div class="card">
			<!-- Card Header -->
			<div class="card-header bg-info text-center">
				<h2 class="text-white">UOM Chart</h2>
			</div>

			<!-- Card Body -->
			<div class="card-body">
				<img th:src="@{/uomType.jpg}" />
			</div>
		</div>
	</div>
</body>

</html>