<html xmlns:th="https://www.thymeleaf.org/">

<head>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
</head>

<body>
	<!-- Container -->
	<div class="Container">
		<!-- Card -->
		<div class="card">
			<!-- Card Header -->
			<div class="card-header bg-primary text-center text-white">
				<h2>WH User Update Page</h2>
			</div>
			<!-- Card Body -->
			<div class="card-body">
				<form id="MyWhUserForm" th:action="@{/wh/update}" method="POST"
					th:object="${whUserType}">
					<!-- Row#0 -->
					<div class="row">
						<div class="col-3">
							<label>Id</label>
						</div>

						<div class="col-4">
							<input type="text" th:field="*{id}" class="form-control" readonly />
						</div>

						<div class="col-5">
							<span id="idError"></span>
						</div>
					</div>
					<!-- Row#1 -->
					<div class="row">
						<div class="col-3">
							<label>User Type</label>
						</div>

						<div class="col-4">
							<input type="radio" th:field="*{userType}" value="Vendor" />
							Vendor <input type="radio" th:field="*{userType}" value="Customer" />
							Customer
						</div>

						<div class="col-5">
							<span id="userTypeError"></span>
						</div>
					</div>
					<!-- Row#2 -->
					<div class="row">
						<div class="col-3">
							<label>User Code</label>
						</div>

						<div class="col-4">
							<input type="text" th:field="*{userCode}" class="form-control" />
						</div>

						<div class="col-5">
							<span id="userCodeError"></span>
						</div>
					</div>
					<!-- Row#3 -->
					<div class="row">
						<div class="col-3">
							<label>User For [Auto-Fill]</label>
						</div>

						<div class="col-4">
							<input type="text" th:field="*{userFor}" class="form-control" />
						</div>

						<div class="col-5">
							<span id="userForError"></span>
						</div>
					</div>
					<!-- Row#4 -->
					<div class="row">
						<div class="col-3">
							<label>User Email</label>
						</div>

						<div class="col-4">
							<input type="text" th:field="*{userEmail}" class="form-control" />
						</div>

						<div class="col-5">
							<span id="userEmailError"></span>
						</div>
					</div>
					<!-- Row#5 -->
					<div class="row">
						<div class="col-3">
							<label>User Contact</label>
						</div>

						<div class="col-4">
							<input type="text" th:field="*{userContact}" class="form-control" />
						</div>

						<div class="col-5">
							<span id="userContactError"></span>
						</div>
					</div>
					<!-- Row#6 -->
					<div class="row">
						<div class="col-3">
							<label>User ID Type</label>
						</div>

						<div class="col-4">
							<select th:field="*{userIdType}" class="form-control">
								<option value="">-Select-</option>
								<option value="Pan Card">Pan Card</option>
								<option value="Aadhar">Aadhar</option>
								<option value="VoterId">VoterId</option>
								<option value="Other">Other</option>
							</select>
						</div>

						<div class="col-5">
							<span id="userIdTypeError"></span>
						</div>
					</div>
					<!-- Row#7 -->
					<div class="row">
						<div class="col-3">
							<label>* If Other</label>
						</div>

						<div class="col-4">
							<input type="text" th:field="*{ifOther}" class="form-control" />
						</div>

						<div class="col-5">
							<span id="ifOtherError"></span>
						</div>
					</div>
					<!-- Row#8 -->
					<div class="row">
						<div class="col-3">
							<label>ID Number</label>
						</div>

						<div class="col-4">
							<input type="text" th:field="*{userIdNum}" class="form-control" />
						</div>

						<div class="col-5">
							<span id="userIdNumError"></span>
						</div>
					</div>
					<input type="submit" value="Update User" class="btn btn-success" />
				</form>
			</div>
			<!-- Card Footer -->
			<!-- <div class="card-footer text-center">
				<span></span>
			</div> -->
		</div>
	</div>
	<script type="text/javascript">
		$(document).ready(
				function() {

					// 1. Hide Error Variable
					var val = $("#userTypeError").hide();
					var val = $("#userCodeError").hide();
					var val = $("#userForError").hide();
					var val = $("#userEmailError").hide();
					var val = $("#userContactError").hide();
					var val = $("#userIdTypeError").hide();
					var val = $("#ifOtherError").hide();
					var val = $("#userIdNumError").hide();

					// 2. Define Error Variable
					var userTypeError = false;
					var userCodeError = false;
					var userForError = false;
					var userEmailError = false;
					var userContactError = false;
					var userIdTypeError = false;
					var ifOtherError = false;
					var userIdNumError = false;

					// 3. Declare Validate Function
					function validate_userType() {
						var length = $('[name="userType"]:checked').length;
						if (length == 0) {
							$("#userTypeError").show();
							$("#userTypeError").html("<b>* Choose Anyone</b>")
							$("#userTypeError").css('color', 'red');
							userTypeError = false;
						} else {
							$("#userTypeError").hide();
							userTypeError = true;
						}
						return userTypeError;
					}

					function validate_userCode() {
						var val = $("#userCode").val();
						if (val == '') {
							$("#userCodeError").show();
							$("#userCodeError").html("<b>*Enter Code</b>");
							$("#userCodeError").css('color', 'red');
							userCodeError = false;
						} else {
							$("#userCodeError").hide();
							userCodeError = true;
						}
						return userCodeError;
					}

					function validate_userFor() {
						var val = $("#userFor").val();
						if (val == '') {
							$("#userForError").show();
							$("#userForError").html("<b>*Select User For</b>");
							$("#userForError").css('color', 'red');
							userForError = false;
						} else {
							$("#userForError").hide();
							userForError = true;
						}
						return userForError;
					}

					function validate_userEmail() {
						var val = $("#userEmail").val();
						if (val == '') {
							$("#userEmailError").show();
							$("#userEmailError").html("<b>*Enter Email</b>");
							$("#userEmailError").css('color', 'red');
							userEmailError = false;
						} else {
							$("#userEmailError").hide();
							userEmailError = true;
						}
						return userEmailError;
					}

					function validate_userContact() {
						var val = $("#userContact").val();
						if (val == '') {
							$("#userContactError").show();
							$("#userContactError")
									.html("<b>*Enter Contact</b>");
							$("#userContactError").css('color', 'red');
							userContactError = false;
						} else {
							$("#userContactError").hide();
							userContactError = true;
						}
						return userContactError;
					}

					function validate_userIdType() {
						var val = $("#userIdType").val();
						if (val == '') {
							$("#userIdTypeError").show();
							$("#userIdTypeError")
									.html("<b>*Select User ID</b>");
							$("#userIdTypeError").css('color', 'red');
							userIdTypeError = false;
						} else {
							$("#userIdTypeError").hide();
							userIdTypeError = true;
						}
						return userIdTypeError;
					}

					function validate_ifOther() {
						var val = $("#ifOther").val();
						if (val == '') {
							$("#ifOtherError").show();
							$("#ifOtherError").html("<b>*Other Id Proof</b>");
							$("#ifOtherError").css('color', 'red');
							ifOtherError = false;
						} else {
							$("#ifOtherError").hide();
							ifOtherError = true;
						}
						return ifOtherError;
					}

					function validate_userIdNum() {
						var val = $("#userIdNum").val();
						if (val == '') {
							$("#userIdNumError").show();
							$("#userIdNumError")
									.html("<b>*Enter ID Number</b>");
							$("#userIdNumError").css('color', 'red');
							userIdNumError = false;
						} else {
							$("#userIdNumError").hide();
							userIdNumError = true;
						}
						return userIdNumError;
					}

					// 4. Link Action Event
					$('[name="userType"]').change(function() {
						validate_userType();
					})

					$("#userCode").keyup(function() {
						validate_userCode();
					})

					$("#userFor").keyup(function() {
						validate_userFor();
					})

					$("#userEmail").keyup(function() {
						validate_userEmail();
					})

					$("#userContact").keyup(function() {
						validate_userContact();
					})

					$("#userIdType").change(function() {
						validate_userIdType();
					})

					$("#ifOther").keyup(function() {
						validate_ifOther();
					})

					$("#userIdNum").keyup(function() {
						validate_userIdNum();
					})

					// 5. On Click Submit
					$("#MyWhUserForm").submit(
							function() {
								validate_userType();
								validate_userCode();
								validate_userFor();
								validate_userEmail();
								validate_userContact();
								validate_userIdType();
								validate_ifOther();
								validate_userIdNum();

								if (userTypeError && userCodeError
										&& userForError && userEmailError
										&& userContactError && userIdTypeError
										&& ifOtherError && userIdNumError)
									return true;
								else
									return false;
							})
				});
	</script>
</body>

</html>